<mat-toolbar color="primary" class="fixed-top">
  <mat-toolbar-row>
    <span>Welcome to Dreams Infotech, {{ user_name }}</span>
    <span class="example-spacer"></span>
    <div class="btn-group">
      <!-- <button
        type="button"
        class="dropdown-toggle text-white"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        style="border: none; background-color: #3f51b5"
      >
        <img
          src="assets/images/user2.PNG"
          alt="logo"
          height="47px"
          width="50px"
          style="border-radius: 50%"
        />
      </button> -->
      <mat-icon fontIcon="account_circle"></mat-icon>
      <mat-icon
        fontIcon="expand_more"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        aria-hidden="false"
        aria-label="Example home icon"
        class="dropdown-toggle text-white cursor-pointer"
      ></mat-icon>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item cursor-pointer" href="#">
            <fa-icon [icon]="faUser" class="mx-2"></fa-icon> My Profile</a
          >
        </li>
        <li>
          <a class="dropdown-item cursor-pointer" (click)="onClickLogout()"
            ><fa-icon [icon]="faPowerOff" class="mx-2"  ></fa-icon> Logout</a
          >
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="row">
  <div class="col-md-2">
    <div class="sidenav">
      <a
        class="slideItem"
        *ngFor="let header of headers"
        [routerLink]="header.link"
        [routerLinkActive]="'active'"
        >{{ header.data }}</a
      >
    </div>
  </div>
  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>
