.background{
    background: url('../../../../../assets/images/back2.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.bordered{
    border: none;
    outline: none
}

