.background {
    background: url('../../../../../assets/images/back2.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.bordered {
    border: none;
    outline: none
}

.error-icon {
    color: red;
}

.error-icon-success {
    color: green;
}

// .invalid-error {
//     background-color: #fdf0f1;
//     border-color: #e0293b;
// }