<div class="container-fluid main">
  <div class="d-flex justify-content-between mt-2">
    <h1 class="h1 text-primary fw-bold">Show Client Details</h1>
    <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasRight"
      aria-controls="offcanvasRight"
    >
      Add Client +
    </button>
  </div>
  <hr />
  <table class="table table-striped">
    <thead class="table table-dark">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Birth Date</th>
        <th>Department</th>
        <th>Address</th>
        <th>Salary</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <!-- Add Slidebar Start  -->
  <div
    class="offcanvas offcanvas-start"
    tabindex="-1"
    id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel"
  >
    <div class="offcanvas-header">
      <h4 class="offcanvas-title fw-bold" id="offcanvasRightLabel">
        {{ pageTitle }}
      </h4>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <form class="row g-3" [formGroup]="clientRegistration">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input type="text" matInput formControlName="name" />
          <mat-error>Enter valid name</mat-error>
          <mat-icon
            class="error-icon"
            matSuffix
            *ngIf="
              (frmControl['name'].touched && frmControl['name'].errors) ||
              (submited && frmControl['name'].pristine)
            "
            >error_outline</mat-icon
          >
          <mat-icon
            class="error-icon-success"
            matSuffix
            *ngIf="frmControl['name'].valid"
            >task_alt</mat-icon
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>E-mail address</mat-label>
          <input type="email" matInput formControlName="email" />
          <mat-icon
            class="error-icon"
            matSuffix
            *ngIf="
              (frmControl['email'].touched && frmControl['email'].invalid) ||
              (frmControl['email'].errors &&
                frmControl['email'].errors['pattern']) ||
              (submited && frmControl['email'].pristine)
            "
            >error_outline</mat-icon
          >
          <mat-icon
            class="error-icon-success"
            matSuffix
            *ngIf="frmControl['email'].valid"
            >task_alt</mat-icon
          >
          <mat-error>Enter valid email address</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Phone</mat-label>
          <input matInput #postalCode maxlength="10" formControlName="mobile" />
          <mat-hint align="end">{{ postalCode.value.length }} / 10</mat-hint>
          <mat-icon
            class="error-icon-success"
            matSuffix
            *ngIf="frmControl['mobile'].valid"
            >task_alt</mat-icon
          >
          <mat-error>Phone number is required.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="birth_date"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Salary</mat-label>
          <input type="number" matInput formControlName="salary" />
          <mat-error>Enter valid salary</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <textarea matInput formControlName="address"></textarea>
          <mat-error>Enter valid address</mat-error>
        </mat-form-field>
        <div class="col-lg-12">
          <label for="" class="form-label">Adharcard Image</label>
          <input
            type="file"
            class="form-control form-control-md"
            formControlName="aadhar_image"
          />
        </div>
        <div class="col-lg-12">
          <label for="" class="form-label">Pancard Image</label>
          <input
            type="file"
            class="form-control form-control-md"
            formControlName="pancard_image"
          />
        </div>
        <div>
          <button class="btn btn-primary" (click)="onSubmitHandle()">
            {{ btnName }}
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- Add Slidebar End  -->
</div>
