<div class="container-fluid main">
  <div class="d-flex justify-content-between mt-2">
    <h1 class="h1 text-primary fw-bold">Show Client Details</h1>
    <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasRight"
      aria-controls="offcanvasRight"
    >
      Add Client +
    </button>
  </div>
  <hr />
  <table class="table table-striped">
    <thead class="table table-dark">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Birth Date</th>
        <th>Department</th>
        <th>Address</th>
        <th>Salary</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <!-- Add Slidebar Start  -->
  <div
    class="offcanvas offcanvas-start"
    tabindex="-1"
    id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel"
  >
    <div class="offcanvas-header">
      <h4 class="offcanvas-title fw-bold" id="offcanvasRightLabel">
        {{ pageTitle }}
      </h4>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <form class="row g-3" [formGroup]="clientRegistration">
        <mat-form-field>
          <mat-label>Client Name</mat-label>
          <input type="text" matInput formControlName="client_name" />
          <mat-error>Enter valid name</mat-error>
          <mat-icon
            class="error-icon"
            matSuffix
            *ngIf="
              (frmControl['client_name'].touched &&
                frmControl['client_name'].errors) ||
              (submited && frmControl['client_name'].invalid)
            "
            >error_outline</mat-icon
          >
          <mat-icon
            class="error-icon-success"
            matSuffix
            *ngIf="frmControl['client_name'].valid"
            >task_alt</mat-icon
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>E-mail address</mat-label>
          <input type="email" matInput formControlName="client_email" />
          <mat-icon
            class="error-icon"
            matSuffix
            *ngIf="
              (frmControl['client_email'].touched &&
                frmControl['client_email'].invalid) ||
              (frmControl['client_email'].errors &&
                frmControl['client_email'].errors['pattern']) ||
              (submited && frmControl['client_email'].invalid)
            "
            >error_outline</mat-icon
          >
          <mat-icon
            class="error-icon-success"
            matSuffix
            *ngIf="frmControl['client_email'].valid"
            >task_alt</mat-icon
          >
          <mat-error>Enter valid email address</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Phone</mat-label>
          <input
            type="text"
            matInput
            #postalCode
            maxlength="10"
            formControlName="client_mobile"
          />
          <mat-hint align="end">{{ postalCode.value.length }} / 10</mat-hint>
          <mat-icon
            class="error-icon"
            matSuffix
            *ngIf="
              (frmControl['client_mobile'].touched &&
                frmControl['client_mobile'].errors) ||
              (submited && frmControl['client_mobile'].invalid)
            "
            >error_outline</mat-icon
          >
          <mat-icon
            class="error-icon-success"
            matSuffix
            *ngIf="frmControl['client_mobile'].valid"
            >task_alt</mat-icon
          >
          <mat-error>Phone number is required.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Facebook Id</mat-label>
          <input type="text" matInput formControlName="facebook_id" />
          <mat-icon
            class="error-icon"
            matSuffix
            *ngIf="
              (frmControl['facebook_id'].touched &&
                frmControl['facebook_id'].errors) ||
              (submited && frmControl['facebook_id'].invalid)
            "
            >error_outline</mat-icon
          >
          <mat-icon
            class="error-icon-success"
            matSuffix
            *ngIf="frmControl['facebook_id'].valid"
            >task_alt</mat-icon
          >
          <mat-error>Facebook_id is required.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Instagram Id</mat-label>
          <input type="text" matInput formControlName="insta_id" />
          <mat-icon
            class="error-icon"
            matSuffix
            *ngIf="
              (frmControl['insta_id'].touched &&
                frmControl['insta_id'].errors) ||
              (submited && frmControl['insta_id'].invalid)
            "
            >error_outline</mat-icon
          >
          <mat-icon
            class="error-icon-success"
            matSuffix
            *ngIf="frmControl['insta_id'].valid"
            >task_alt</mat-icon
          >
          <mat-error>Instagram_id is required.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Linkdin Id</mat-label>
          <input type="text" matInput formControlName="linkedin_id" />
          <mat-icon
            class="error-icon"
            matSuffix
            *ngIf="
              (frmControl['linkedin_id'].touched &&
                frmControl['linkedin_id'].errors) ||
              (submited && frmControl['linkedin_id'].invalid)
            "
            >error_outline</mat-icon
          >
          <mat-icon
            class="error-icon-success"
            matSuffix
            *ngIf="frmControl['linkedin_id'].valid"
            >task_alt</mat-icon
          >
          <mat-error>Linkdin_id is required.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Location</mat-label>
          <input type="text" matInput formControlName="location" />
          <mat-icon
            class="error-icon"
            matSuffix
            *ngIf="
              (frmControl['location'].touched &&
                frmControl['location'].errors) ||
              (submited && frmControl['location'].invalid)
            "
            >error_outline</mat-icon
          >
          <mat-icon
            class="error-icon-success"
            matSuffix
            *ngIf="frmControl['location'].valid"
            >task_alt</mat-icon
          >
          <mat-error>Location is required.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Home Address</mat-label>
          <textarea matInput formControlName="client_address"></textarea>
          <mat-icon
            class="error-icon"
            matSuffix
            *ngIf="
              (frmControl['client_address'].touched &&
                frmControl['client_address'].errors) ||
              (submited && frmControl['client_address'].invalid)
            "
            >error_outline</mat-icon
          >
          <mat-icon
            class="error-icon-success"
            matSuffix
            *ngIf="frmControl['client_address'].valid"
            >task_alt</mat-icon
          >
          <mat-error>Enter valid address</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Office Address</mat-label>
          <textarea matInput formControlName="office_address"></textarea>
          <mat-icon
            class="error-icon"
            matSuffix
            *ngIf="
              (frmControl['office_address'].touched &&
                frmControl['office_address'].errors) ||
              (submited && frmControl['office_address'].invalid)
            "
            >error_outline</mat-icon
          >
          <mat-icon
            class="error-icon-success"
            matSuffix
            *ngIf="frmControl['office_address'].valid"
            >task_alt</mat-icon
          >
          <mat-error>Enter valid address</mat-error>
        </mat-form-field>
        <div class="col-lg-12">
          <label for="" class="form-label">Adharcard Image</label>
          <input
            type="file"
            class="form-control form-control-md"
            formControlName="aadhar_image"
          />
        </div>
        <div>
          <button class="btn btn-primary" (click)="onSubmitHandle()">
            {{ btnName }}
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- Add Slidebar End  -->
</div>
